<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Watson - {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" id="logo" href="{{ path('home') }}">Watson</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-target" aria-controls="navbar-collapse-target" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    <ul class="navbar-nav ms-auto">
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="nav-item {% if adminMenu is defined %}active{% endif %}">
                                <a class="nav-link" href="{{ path('admin') }}"><i class="bi bi-gear"></i> Administration</a>
                            </li>
                        {% endif %}
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person"></i> Welcome, {{ app.user.username }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li ><a class="dropdown-item logoutbtn" href="{{ path('logout') }}"><i class="bi bi-box-arrow-left me-2"></i> Log out </a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="guestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person"></i> Not connected
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="guestDropdown">
                                    <li><a class="dropdown-item" href="{{ path('login') }}"><i class="bi bi-box-arrow-in-right me-2"></i>Log in</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content" class="mt-5 pt-4">{% block content %}{% endblock %}</div>
        <footer class="footer text-center mt-4">
            Watson - Made with love by CvTIC and his students
        </footer>
    </div>

    <!-- jQuery -->
    <script src="{{ app.request.basepath }}/lib/jquery/jquery-3.7.1.min.js"></script>
    <!-- JavaScript Bootstrap plugin -->
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ app.request.basepath }}/js/script.js"></script>
</body>

</html>
