{% extends "layout.html.twig" %}

{% block title %}{{ link.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ link.title }}</h2>
    <p>{{ link.desc }}</p>
    <a class="btn btn-lg btn-dark" href="{{ link.url }}" title="" target="_blank">Open the website <i class="bi bi-globe ms-2"></i></a>
    <em class="text-body-secondary">(by {{ link.user.username }})</em>

    {% for tag in link.tags %}
    	<a class="badge text-bg-secondary" href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
    		{{ tag.title }}
    	</a>
    {% endfor %}
</p>
{% endblock %}
