{% extends "layout.html.twig" %}

{% block title %}Résultat(s) pour "{{ tag.title }}" {% endblock %}

{% block content %}
	<div class="row">
		<h1>Résultat(s) associé(s) au tag "{{ tag.title }}"</h1>
		{% if links|length <= 0 %}
			<p>
				Aucun résultat ne correspond au tag "{{ tag.title }}".
			</p>
		{% else %}
			{% for link in links %}
			<div class="col-md-4 mt-4">
				<div class="card">
					<div class="card-header fade-in-top bg-dark ">
						<h2>
							<a class="linkTitle text-white" href="{{ path('link', { 'id': link.id }) }}">
								{{ link.title }}
							</a>
						</h2>
					</div>
					<div class="card-body fade-in">
						<p class="card-text">{{ link.desc }}</p>
						<a class="btn btn-sm btn-dark" href="{{ link.url }}" title="" target="_blank"><i class="bi bi-globe"></i></a>
						
						{% for tag in link.tags %}
							<a class="badge text-bg-secondary" href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
								{{ tag.title }}
							</a>
						{% endfor %}
						<em class="text-body-secondary">(by {{ link.user.username }})</em>
					</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
